body {
    padding-top: 3px;
    font-size: 18px;
    background: #222;
    color: #aaa
    
}

@media only screen and (min-width: 600px) {
    
    body h1 { 
        font-size: 2rem;
        font-family: 'Raleway', sans-serif;
        /* color: darkorchid; */
    }
}
@media only screen and (min-width: 768px) {
    body h1 {
        font-size: 3rem;
        /* color: darkorange; */
    }
}

body h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
}
body h2 {
    color: #888;
    font-size: 1.3em;
    font-family: 'Long Cang', cursive;
}
body h4 {
    font-family: 'Acme', sans-serif;
    color: springgreen;
    /* background-color: red; */
}

body a {
    color: darkolivegreen;
}
body a:hover {
    color: darkseagreen;
}
.heading-name {
    color: #fff;
}
#title {
    padding-top: 2rem;
    background-color: palegreen;
}

.heading {
    min-height: 100vh;
    text-align: center;
}
.main {
    text-align: center;
    min-height: 100vh;
}
