body {
    background-color: snow;
  }

.heading-name {
    font-family: 'Sacramento', cursive; 
    font-size: 3em;
    margin: 0;
    margin-top: 40px;
}

.subheading {
    font-family: 'Long Cang', cursive;
    color: skyblue;
    margin: 0;
    font-size: 1.8rem;
}
.heading {
    min-height: 100vh;
}
.main {
    text-align: center;
    min-height: 100vh;
}
body h4 {
    font-family: 'Acme', sans-serif;
    color: springgreen;
    /* background-color: red; */
}
body h1 {
    font-family: 'Poiret One', cursive;
    color: deeppink;
    line-height: 5rem;
}
body a {
    color: darkolivegreen;
}
body a:hover {
    color: darkseagreen;
}
