body {
    background-color: snow;
  }

.heading-name {
    font-family: 'Sacramento', cursive; 
    font-size: 3em;
    margin: 0;
    margin-top: 40px;
}

.subheading {
    font-family: 'Long Cang', cursive;
    color: skyblue;
    margin: 0;
    font-size: 1.8rem;
}
.main {
    text-align: center;
}
